.about-container {
    .text {
        text-align: center;
        margin-bottom: 5rem;
        .text-small {
            font-size: 1.5rem;
            color: var(--clr-p);
        }
        .text-title {
            font-size: 3rem;
            span {
                color: red;
            }
        }
    }

    .about-info {
        display: flex;
        align-items: center;
        gap: 3rem;
        .sec-image {
              
       
            img {
                border-radius: 2rem;
                height: 350px;
                max-width: 320px;
            }
    }

    .sec-info {
        
        }
        .sec-infomation {
            display: flex;
            gap: 2rem;
            justify-content: center;
            margin-bottom: 2rem;

            .experient, .education {
                    text-align: center;
                    border: 1px solid var(--clr-p);
                    width: 100%;
                    border-radius: 1.5rem;
                    padding: 1.5rem 0 ;
                    display: grid;
                    .text-small {
                        color: var(--clr-p);
                    }
                    
                img {
                    height: 2rem;
                    margin: 0 auto;
                }
            }
        }
    }
}